<%=form_for @article do |f| %>
  <%=f.label :url, "Link" %>
  <%=f.text_field :url %>

  <%=f.submit "Add Article" %>
<%-end-%>
<ul>
<% @articles.each do |article| %>
  <li><%= link_to article.title, articles_path(article) %></li>
  <%-end-%>
</ul>
